.App {
  text-align: center;
  font-family: 'Fuzzy Bubbles', cursive;
  -webkit-font-smoothing: antialiased;
}

hr {
  border: .6rem dotted rgba(250, 250, 250, .9);
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

input, select {
  border-radius: .5rem;
  border: solid 2px;
  width: 8rem;
}

label {
  font-weight: bold;
}

.back {
  background: rgba(250, 250, 250, .7);
  width: fit-content;
}

.delete {
  background: rgba(0, 0, 0, 0);
  color: red;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: .5rem;
  border: 1px solid red;
  border-radius: .5rem;
  text-shadow: .3px .3px .8px black;
  margin-left: .5rem;
}

.delete:hover {
  color: white;
  background: red;
  text-shadow: .3px .3px .8px white;
  transition: 1s;
  cursor: pointer;
}

.edit{
  background: rgba(0, 0, 0, 0);
  color: blue;
  font-family: 'Fuzzy Bubbles', cursive;
  border: 1px solid blue;
  border-radius: .5rem;
  text-shadow: .3px .3px .8px black;
  margin-left: .5rem;
  font-size: .5rem;
}

.edit:hover {
  color: white;
  background: blue;
  text-shadow: .3px .3px .8px white;
  transition: 1s;
  cursor: pointer;
}

.submit {
  background: rgba(0, 0, 0, 0);
  color: green;
  font-family: 'Fuzzy Bubbles', cursive;
  border: 1px solid green;
  border-radius: .5rem;
  text-shadow: .3px .3px .8px black;
  margin-left: .5rem;
}

.submit:hover {
  color: white;
  background: green;
  text-shadow: .3px .3px .8px white;
  transition: 1s;
  cursor: pointer;
}

.modal {
  border: none;
}

.welcome {
  font-size: 2.5rem;
}

.bubble {
  padding: .5rem;
  border: 1px solid white;
  font-size: .8rem;
  text-shadow: .5px .5px .10px white;
  border-radius: .5rem;
  width: 100%;
}

.about {
  background: rgba(250, 250, 250, .6);
  font-size: 1.2rem;
}

.creators {
  padding-top: .5rem;
  text-shadow: none;
  font-size: .8rem;
  color: white;
}

.grocery-link {
  background: rgba(0, 0, 0, 0);
  color: white;
  font-family: 'Fuzzy Bubbles', cursive;
  border: 1px solid white;
  border-radius: .5rem;
  height: 5rem;
  width: 16rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  text-shadow: .3px .3px .8px black;
}

.grocery-link:hover {
  background: rgba(250, 250, 250, .9);
  text-shadow: none;
  color: black;
  transition: 1s;
  cursor: pointer;
}

.center {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fit {
  width: fit-content;
  block-size: fit-content;
}

.list {
  font-size: 1rem;
  background: rgba(250, 250, 250, .9);
}

.lists {
  display: grid;
  grid-template-rows: 0fr 0fr 0fr 0fr;
  grid-template-columns: fit-content(100ch, 100ch, 100ch);
  grid-gap: 2rem;
}

.list0 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  background: rgb(255, 217, 0);
}

.list1 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  text-align: left;
}

.list2 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  text-align: left;
}

.list3 {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
  text-align: left;
}

.list4 {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  text-align: left;
}

.list5 {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  text-align: left;
}

.list6 {
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
  text-align: left;
}

.list7 {
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  text-align: left;
}

.produce {
  border: 1px solid green;
  background: rgba(112, 192, 158, .9);
}

.frozen {
  border: 1px solid blue;
  background: rgba(144, 188, 224, .9);
}

.dry-goods {
  border: 1px solid orange;
  background: rgba(204, 157, 122, .9);
}

.bakery {
  border: 1px solid purple;
  background: rgba(216, 163, 225, .9);
}

.dairy {
  border: 1px solid yellow;
  background: rgba(204, 204, 108, .9);
}

.meat-seafood {
  border: 1px solid red;
  background: rgba(236, 143, 134, .9);
}

.other {
  background: rgba(218, 216, 212, .9);
}

.wave {
  background: linear-gradient(-10deg, rgb(141, 141, 210) 56%, rgb(218, 216, 212) 56%);
  opacity: .5;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -50%;
  right: -50%;
  position: fixed;
  animation: slide 16s ease-in-out infinite alternate;
  animation-direction: alternate-reverse;
}

.wave2 {
  animation-duration: 18s;
}

.wave3 {
  animation-duration: 21s;
}

@keyframes slide {
  15% {
    transform: translateX(-8%);
  }

  30% {
    transform: translateX(10%);
  }
}.wave {
  background: linear-gradient(-10deg, rgb(141, 141, 210) 56%, rgb(218, 216, 212) 56%);
  opacity: .5;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -50%;
  right: -50%;
  position: fixed;
  animation: slide 16s ease-in-out infinite alternate;
  animation-direction: alternate-reverse;
}

.wave2 {
  animation-duration: 18s;
}

.wave3 {
  animation-duration: 21s;
}

@keyframes slide {
  15% {
    transform: translateX(-8%);
  }

  30% {
    transform: translateX(10%);
  }
}

@media only screen and (max-width: 600px) {
  .wave {
    animation: none;
    }

    .welcome {
      font-size: 1.5rem;
    }

        .list0 {
          grid-row: 1 / span 1;
          grid-column: 1 / span 2;
        }
    
        .list1 {
          grid-row: 2 / span 1;
          grid-column: 1 / span 1;
          text-align: left;
        }
    
        .list2 {
          grid-row: 2 / span 1;
          grid-column: 2 / span 1;
          text-align: left;
        }
    
        .list3 {
          grid-row: 3 / span 1;
          grid-column: 1 / span 1;
          text-align: left;
        }
    
        .list4 {
          grid-row: 3 / span 1;
          grid-column: 2 / span 1;
          text-align: left;
        }
    
        .list5 {
          grid-row: 4 / span 1;
          grid-column: 1 / span 1;
          text-align: left;
        }
    
        .list6 {
          grid-row: 4 / span 1;
          grid-column: 2 / span 1;
          text-align: left;
        }
    
        .list7 {
          grid-row: 5 / span 1;
          grid-column: 1 / span 1;
          text-align: left;
        }
}